# argocd-notifications-secret secret for setting up email notifications
apiVersion: v1
kind: Secret
metadata:
  name: argocd-notifications-secret
stringData:
  email-username: <myemail@gmail.com>
  email-password: hidden_password
type: Opaque